<html>
<head>
    <title>${title}</title>
    <style>
    </style>
</head>
<body>
<h1>Just a blank page.</h1>
<div style="page-break-before: always;">
    <div align="center">
        <h1>${title}</h1>
<!--        <img alt="加载中..." src="E://IDEA_workspace//pengjian-gitee//java_pdf//template//logo.png" height="349" width="2000"/> />-->
    </div>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td><b>Age</b></td>
            <td><b>Sex</b></td>
        </tr>
    </table>
</div>
<div>
    <a href="https://www.baidu.com/" target="_blank">百度</a>
</div>
</body>
</html>
